<!doctype html>

<html>
	<!-- This is what a comment looks like -->
	<head>
		<title>Course Registration</title>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
			<header></header>
			<nav>
				<ul>
					<li><a href="index.html">Login</a></li>
					<li><a href="registration.html" class="current">Course Registration</a></li>
					<li><a href="aboutme.html">About Us</a></li>
					<li><a href="SystemComparison.html">System Comparison</a></li>
				</ul>
			</nav>		
			<div id="filter_subj">
					<h1>Select filters here:</h1>
						<form id="myForm" action="/filter_subj" method="POST" enctype="multipart/form-data">
							Subject: 
							<select id="sub" name="subject">
								<option value="ALL">ALL</option>
								<option value="ACCT">ACCT</option>
								<option value="ACSC">ACSC</option>
								<option value="ACST">ACST</option>
								<option value="AERO">AERO</option>
								<option value="AMBA">AMBA</option>
								<option value="ARAB">ARAB</option>
								<option value="ARHS">ARHS</option>
								<option value="ARTH">ARTH</option>
								<option value="BCHM">BCHM</option>
								<option value="BCOM">BCOM</option>
								<option value="BETH">BETH</option>
								<option value="BIOL">BIOL</option>
								<option value="BLAW">BLAW</option>
								<option value="BUSN">BUSN</option>
								<option value="CATH">CATH</option>
								<option value="CHDC">CHDC</option>
								<option value="CHEM">CHEM</option>
								<option value="CHIN">CHIN</option>
								<option value="CIED">CIED</option>
								<option value="CISC">CISC</option>
								<option value="CJUS">CJUS</option>
								<option value="CLAS">CLAS</option>
								<option value="COAC">COAC</option>
								<option value="COJO">COJO</option>
								<option value="COMM">COMM</option>
								<option value="CPSY">CPSY</option>
								<option value="CSIS">CSIS</option>
								<option value="CSMA">CSMA</option>
								<option value="CTED">CTED</option>
								<option value="DRSW">DRSW</option>
								<option value="DSCI">DSCI</option>
								<option value="DVDM">DVDM</option>
								<option value="DVDT">DVDT</option>
								<option value="DVHS">DVHS</option>
								<option value="DVLS">DVLS</option>
								<option value="DVMT">DVMT</option>
								<option value="DVPH">DVPH</option>
								<option value="DVPM">DVPM</option>
								<option value="DVPT">DVPT</option>
								<option value="DVSP">DVSP</option>
								<option value="DVSS">DVSS</option>
								<option value="DVST">DVST</option>
								<option value="ECMP">ECMP</option>
								<option value="ECON">ECON</option>
								<option value="EDCE">EDCE</option>
								<option value="EDLD">EDLD</option>
								<option value="EDUA">EDUA</option>
								<option value="EDUC">EDUC</option>
								<option value="EGED">EGED</option>
								<option value="ENGL">ENGL</option>
								<option value="ENGR">ENGR</option>
								<option value="ENTR">ENTR</option>
								<option value="ENVR">ENVR</option>
								<option value="ESCI">ESCI</option>
								<option value="ETLS">ETLS</option>
								<option value="EXSC">EXSC</option>
								<option value="FAST">FAST</option>
								<option value="FILM">FILM</option>
								<option value="FINC">FINC</option>
								<option value="FREN">FREN</option>
								<option value="GBEC">GBEC</option>
								<option value="GENG">GENG</option>
								<option value="GEOG">GEOG</option>
								<option value="GEOL">GEOL</option>
								<option value="GERM">GERM</option>
								<option value="GIFT">GIFT</option>
								<option value="GMUS">GMUS</option>
								<option value="GRED">GRED</option>
								<option value="GREK">GREK</option>
								<option value="GRPE">GRPE</option>
								<option value="GRSW">GRSW</option>
								<option value="GSPA">GSPA</option>
								<option value="HIST">HIST</option>
								<option value="HLTH">HLTH</option>
								<option value="HONR">HONR</option>
								<option value="HRDO">HRDO</option>
								<option value="IBUS">IBUS</option>
								<option value="IDSC">IDSC</option>
								<option value="IDSW">IDSW</option>
								<option value="IDTH">IDTH</option>
								<option value="INAC">INAC</option> 
								<option value="INCH">INCH</option>
								<option value="INEC">INEC</option>
								<option value="INEG">INEG</option>
								<option value="INFC">INFC</option>
								<option value="INFR">INFR</option>
								<option value="INGR">INGR</option>
								<option value="INHR">INHR</option>
								<option value="INID">INID</option>
								<option value="INIM">INIM</option>
								<option value="INJP">INJP</option>
								<option value="INLW">INLW</option>
								<option value="INMC">INMC</option>
								<option value="INMG">INMG</option>
								<option value="INMK">INMK</option>
								<option value="INOP">INOP</option>
								<option value="INPS">INPS</option>
								<option value="INRS">INRS</option>
								<option value="INSP">INSP</option>
								<option value="INST">INST</option>
								<option value="INTR">INTR</option>
								<option value="IRGA">IRGA</option>
								<option value="ITAL">ITAL</option>
								<option value="JAPN">JAPN</option>
								<option value="JOUR">JOUR</option>
								<option value="JPST">JPST</option>
								<option value="LATN">LATN</option>
								<option value="LAWS">LAWS</option>
								<option value="LEAD">LEAD</option>
								<option value="LGST">LGST</option>
								<option value="LHDT">LHDT</option>
								<option value="MATH">MATH</option>
								<option value="MBAC">MBAC</option>
								<option value="MBEC">MBEC</option>				
								<option value="MBEN">MBEN</option>
								<option value="MBEX">MBEX</option>
								<option value="MBFC">MBFC</option>
								<option value="MBFR">MBFR</option>
								<option value="MBFS">MBFS</option>
								<option value="MBGC">MBGC</option>
								<option value="MBGM">MBGM</option>
								<option value="MBHC">MBHC</option>
								<option value="MBHR">MBHR</option>
								<option value="MBIF">MBIF</option>
								<option value="MBIM">MBIM</option>
								<option value="MBIS">MBIS</option>
								<option value="MBLW">MBLW</option>
								<option value="MBMG">MBMG</option>
								<option value="MBMK">MBMK</option>
								<option value="MBNP">MBNP</option>
								<option value="MBOP">MBOP</option>
								<option value="MBQM">MBQM</option>
								<option value="MBSK">MBSK</option>
								<option value="MBSP">MBSP</option>
								<option value="MBST">MBST</option>
								<option value="MBUN">MBUN</option>
								<option value="MBVE">MBVE</option>
								<option value="MFGS">MFGS</option>
								<option value="MGMP">MGMP</option>
								<option value="MGMT">MGMT</option>
								<option value="MKTG">MKTG</option>
								<option value="MMUS">MMUS</option>
								<option value="MSQS">MSQS</option>
								<option value="MSRA">MSRA</option>
								<option value="MUSC">MUSC</option>
								<option value="MUSN">MUSN</option>				
								<option value="MUSP">MUSP</option>
								<option value="MUSR">MUSR</option>
								<option value="MUSW">MUSW</option>
								<option value="NSCI">NSCI</option>
								<option value="ODOC">ODOC</option>
								<option value="OPMT">OPMT</option>
								<option value="PHED">PHED</option>
								<option value="PHIL">PHIL</option>
								<option value="PHYS">PHYS</option>
								<option value="PLLD">PLLD</option>
								<option value="POLS">POLS</option>
								<option value="PSYC">PSYC</option>
								<option value="PUBH">PUBH</option>
								<option value="QMCS">QMCS</option>
								<option value="READ">READ</option>
								<option value="REAL">REAL</option>
								<option value="RECE">RECE</option>
								<option value="REDP">REDP</option>
								<option value="RUSS">RUSS</option>
								<option value="SABC">SABC</option>
								<option value="SABD">SABD</option>
								<option value="SACS">SACS</option>
								<option value="SAED">SAED</option>
								<option value="SAIM">SAIM</option>
								<option value="SAIN">SAIN</option>
								<option value="SALS">SALS</option>
								<option value="SAMB">SAMB</option>
								<option value="SASE">SASE</option>
								<option value="SASW">SASW</option>
								<option value="SEAM">SEAM</option>
								<option value="SEIS">SEIS</option>
								<option value="SMEE">SMEE</option>
								<option value="SOCI">SOCI</option>
								<option value="SOWK">SOWK</option>
								<option value="SPAN">SPAN</option>
								<option value="SPED">SPED</option>
								<option value="SPGT">SPGT</option>
								<option value="SPUG">SPUG</option>
								<option value="STAT">STAT</option>
								<option value="STEM">STEM</option>
								<option value="TEGR">TEGR</option>
								<option value="THEO">THEO</option>
								<option value="THTR">THTR</option>
								<option value="WMST">WMST</option>
							</select>
							Course Number: <input type="text" name="course_name" id="courseName" /><br/>
							Section CRN: <input id="courseNumber" type="text" name="course_number"  /><br/>
							<input id="to_query" type="submit" value="Submit" />
						</form>
					</div>
					
			<div id="table_b">
			<div id="expand">
				<h1 id="class_title">{{ cur.class_name }}</h1>	<!-- header of the expanded portion will be the name of the class -->
				<p id="desc">{{ cur.desc }}</p> <!-- course description -->
				<table>
					<thead>
						<tr>
							<td>Time</td>	<!-- gets dicey here as well, this is the table being built by vue object expander -->
							<td>CRN</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="sec in sections">	<!-- should iterate through like the below table, needs to skip third column which is the description, will be the same for all rows anyways -->
							<td v-for="temp in sec">{{ temp }}</td>
						</tr>
					</tbody>
				</table>
				<input type="text" name="to_reg" placeholder="CRN">	<!-- not set up, is the register function -->
				<button type="button">Register</button>
			</div>
			<table id="class_table">
				<thead>
					<tr>
						<th>Course Subject</th>
						<th>Course Number</th>
						<th>Course Section</th>
						<th>Course Name</th>
						<th>Building and Room</th>
						<th>Section Professor</th>
						<th>Course Credits</th>
						<th>Section CRN</th>
						<th>Size of Registered</th>
						<th>Waitlist</th>
					</tr>
				</thead>
				<tbody v-for="(data, index) in table_data" :key="index">
					<tr onclick="class_table.test = !class_table.test" >	<!-- should grab the course number(not crn) then the course name on click -->
						<td v-for="temp in data">{{ temp }}</td>
					</tr>
					<tr v-if="test">
						<td colspan="5">I exist</td>
						<td colspan="5">
							<form action="" method="get">
								Register for the course:
								<button name="subject" type="submit" data-value="StudentID" value="CRN">Register</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			
		<script>
			var cur_row = "";
		
				function expand_row(course_numb, name) {
					
					if(name === cur_row){		//this is when clicking on the same row, will close the content
						console.log("close");
						console.log(cur_row);
						document.getElementById("expand").style.display="none";
						document.getElementById("expand").style.width="0%";
						document.getElementById("class_table").style.float="none";
						document.getElementById("class_table").style.width="90%";	
						cur_row = "";
					} else {					//different row, will change the content
						cur_row = name;
						console.log("open");
						console.log(cur_row);
						expanded.update_expanded(cur_row, course_numb);
						document.getElementById("expand").style.display="inline";
						document.getElementById("expand").style.width="40%";
						document.getElementById("class_table").style.float="left";
						document.getElementById("class_table").style.width="59%";
					}
				}
		
				var expanded = new Vue({
					el: '#expand',
					data: {
						cur: [{class_name:"", desc:""}],
						sections: [{}]			//will hold elements in the small table when expanded
					},
					methods: {
						update_expanded: function(name, c_numb) {
							document.getElementById("class_title").innerHTML = name;	//sets the title in expanded portion
							//console.log(class_name);
							var xhttp = new XMLHttpRequest();//STARTS TO GET MESSY HERE - WORKS UP TO HERE
							
							xhttp.onreadystatechange = function() {
								if(xhttp.readyState === 4) {
									sections = xhttp.response;	//should set sections to the response, three columns {crn, time, description}
									console.log(sections);
									document.getElementById("desc").innerHTML = sections; //NEEDS TO BE CHANGED TO BE THE DESCRIPTION. NOT SURE HOW THE DATA IS BEING SENT BACK BUT SHOULD BE THIRD COLUMN IN THE TABLE - description only used here
								}
							}
							xhttp.open('POST', "/server.js", true);
							xhttp.send(c_numb);
						}
					}				
				});
		
				var class_table = new Vue({
					el: '#class_table',
					data: {
						table_data: [{}],
						test: [{}]
					},
					methods: {
						refreshTable: function() {
							$( "#class_table" ).load();
						}
					}
				});	

				$(document).ready(function(){
					$("#myForm").submit(function(event){
						var selected = document.getElementById("sub");
						var courseName = document.getElementById("courseName");
						var courseNumber = document.getElementById("courseNumber");

						event.preventDefault();
						$.ajax({
							method: 'GET',
							url: '/filter_subj',
							data: {field1: selected.options[ selected.selectedIndex ].value,
								   field2: courseName.value,
								   field3: courseNumber.value},
							contentType: 'application/json; charset=utf=8',
							success: function(data) {
								console.log(data);
								class_table.table_data = data;
								var i = 0
								data.forEach(element => {
									class_table.test[i] = false;
									i++;
								});
								console.log(class_table);
								class_table.refreshTable();
							}		
						})
					});
				});
		</script>		
	</body>
</html>
